---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src="http://ghchart.rshah.org/HJCheng0602"
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ“’ Todo of PKU',
        description:
          'åŒ—å¤§ç¨‹åºè®¾è®¡å®žä¹ è¯¾ç¨‹å¤§ä½œä¸š,build with Qt6',
        links: [
          { type: 'github', href: 'https://github.com/HJCheng0602/Todos_PKU_chengshe' },
        ]
      },
      {
        name: 'ðŸŒ  SLAM3R_onlinecam',
        description:
          'Enhanced SLAM3R: Real-Time Reconstruction via Online Camera Stream',
        links: [
          { type: 'github', href: 'https://github.com/HJCheng0602/SLAM3R_onlinecam' },
        ]
      }
    ]

    
    
    }
  />
  <!-- <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse> -->

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Effcient compuuting method of DNN',
        description: '2025PKU summer school course, taught by Bei Yu',
        links: [{ type: 'github', href: 'https://github.com/HJCheng0602/Effiecient_Computing-_of_DNN_pku_2025summer' }]
      },
      {
        name: 'MIT 6.006 Learning',
        description: 'Note, code and slides for MIT 6.006',
        links: [
          {
            type: 'github',
            href: ''
          }
        ]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'HJCheng0602',
        description: "Han Jincheng's Github",
        links: [{ type: 'github', href: 'https://github.com/HJCheng0602' }]
      },
    ]}
  />




<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
